<h1>This is page documment</h1>
<button> <a href="/documment/add"><i class="fa-light fa-circle-plus"></i>Create new form</a></button>
<table class="table">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Type of leave</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Approved leader</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>

        {{#each formleaveList}}
        <tr>
            <th scope="row"></th>
         
            <td>{{categorybreak.name}}</td>
            <td>{{startdate}}</td>
            <td>{{enddate}}</td>
            <td>{{leader.name}}</td>
            <td>{{description}}</td>
            {{!-- <td>{{leader.email}}</td> --}}
          
            <td>
                <button><a href="/department/edit/{{_id}}"><i class="fas fa-edit"></i>Edit</a></button>
                <button><a href="/department/delete/{{_id}}"><i class="fa fa-trash" aria-hidden="true"></i>Delete</a></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- <form>
    <div class="form-group">
        <label for="formGroupExampleInput">Example label</label>
        <input value="{{username}}">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Another label</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
    </div>
</form> --}}